@model WesternPlains.App.ViewModels.CreateSuccessViewModel
@{
    ViewData["Title"] = "Announcement Created!";
}

<h2>Announcement created!</h2>
<a class="ui green button" href="@model.HomeLink">Return to Dashboard</a>
<a class="ui blue button" href="@model.CreateLink">Create another announcement</a>
