@model WesternPlains.App.ViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "Update Password";
}

<h2>Reset Password</h2>
<form class="ui form" id="reset-password" asp-controller="Account" asp-action="ResetPassword">
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div class="field">
        <label asp-for="PasswordConfirmation"></label>
        <input asp-for="PasswordConfirmation" />
    </div>
    <input class="ui green button" type="submit" value="Reset" />
</form>
