@{
    ViewData["Title"] = "Announcements";
}

<style>
    .filter-bar:nth-child(1) {
        display: inline;
    }
</style>

<!-- TODO: Change this be loaded through JS -->
<div class="announcements">
    <div class="filter-bar">
        <label for="categories">Categories</label>
        <select id="categories">
            <!--<option value="0">None</option>
            <option value="1">Foo</option>
            <option value="2">Bar</option>
            <option value="3">Baz</option>-->
        </select>

        <label for="date-to">Date to</label>
        <input type="date" id="date-to" />

        <label for="date-from">From</label>
        <input type="date" id="date-from" />

        <button class="ui green button" id="filter-button">Apply Filter</button>
        <button class="ui orange button" id="reset-button">Reset Filters</button>
    </div>
    <ul class="announcements-list" id="announcements-list"></ul>
</div>

@section scripts {
<script src="~/js/vendor.js"></script>
<script src="~/js/announcements.js"></script>
}
